.conteainer-middel_section {
  background-color: white;
  width: 900px;
  margin: auto;
}


.text-center {
  text-align: center;
}


.cards {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  text-align: center;
  padding: 20px;
  border: 0,7px solid   #DCDCDC;
  border-radius: 5px;
  box-shadow: 6px 6px 15px rgba(0,0,0,0.1);

}

.card img {
  width: 100px;
  height: 100px;
}

.card p {
  margin-bottom: 0;
  color: lightgray;
}
